<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<import resource="classpath:steel/mdp/config/mdpLibSpringContext.xml" />
	
	<!-- Jms连接工厂 -->
	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">org.apache.activemq.jndi.ActiveMQInitialContextFactory</prop>
				<prop key="java.naming.security.principal"></prop>
				<prop key="java.naming.security.credentials"></prop>
				<prop key="java.naming.provider.url">${java.naming.provider.url}</prop>
			</props>
		</property>
	</bean>

	<bean id="steel.mdp.JmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="ConnectionFactory" />
	</bean>

	<bean id="steel.mdp.MdpConfig" class="steel.mdp.MdpConfig">
		<property name="defaultQueue">
			<value>steel.mdp.RequestQueue</value>
		</property>
		<property name="queueNameSuffix">
			<value>${steel.app.queuename.suffix}</value>
		</property>
		<property name="ignoreTimeout">
			<value>true</value>
		</property>
	</bean>

</beans>